/* Cabeçalho */
* {  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: #F3F1F1;
}

header {
    height: 20vh;
    width: 100%;
    padding: 0 10%;
    background: #ffffff;
    position: relative;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logoheader {
    width: 200px;
    height: 200px;
    margin-top: -30px; /* Ajuste conforme necessário */
    position: relative;
    z-index: 1; /* Certifica-se de que a logo esteja acima dos outros elementos */
}

.iconeperfil {
    width: 49px;
    height: 49px;
    border-radius: 100%;
    opacity: 0.5;
}

.nav-links,
.nav-linkentrar,
.nav-linkcadastrar {
    display: flex;
    list-style: none;
    margin-top: -50px; 
}

.nav-linkcadastrar {
    background-color: rgb(223, 116, 132);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    margin-right: 15px; 
}

.nav-links li,
.nav-linkentrar li,
.nav-linkcadastrar li {
    margin: 0 15px;
}

.nav-links li a,
.nav-linkentrar li a,
.nav-linkcadastrar li a {
    text-decoration: none;
    color: #d971a1;
    font-family: 'Open Sans';
    font-weight: bolder;
    font-size: 20px;
    padding: 5px 0;
    position: relative;
}

.nav-links li a:hover,
.nav-linkentrar li a:hover,
.nav-linkcadastrar li a:hover {
    text-decoration: underline;
}

.nav-linkcadastrar li a{
    color: #f8f8f8;
}

.nav-linkcadastrar li a::before {
    content: '';
    background: #d971a1;
    width: 100%;
    height: 35px;
    width: 130px;
    position: absolute;
    z-index: -1;
    bottom: 0;
    border-radius: 8%;
    left: -6px;
}

/* Corpo */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
    position: relative;
    padding-top: 40px; 
    padding-bottom: 40px; 
}

.container {
    width: 80%;
    max-width: 90%;
    margin: auto;
    text-align: center;
}

.titulo-main {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color:#3399BB;
    padding-bottom: 20px;
    width: 100%;
}

.titulo-main h1 {
    font-size: 300%;
    margin-bottom: 20px;
}

.titulo-main h2 {
    font-family: "Roboto", sans-serif;
    font-size: 150%;
}

.card {
    position: relative;
    width: 100%; 
    max-width: 500px; 
    margin: 20px auto;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden; 
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.card::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%; 
    width: 300%;
    height: 100%;
    background-color: #ffffff; 
    z-index: -1; 
}

.card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -100%; 
    width: 300%; 
    height: 100%;
    background-color: #ffffff; 
    z-index: -1; 
}



.formulario {
    padding: 60px 80px; 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    max-width: 300px;
    max-height: 140px;
    margin-left: 35px; 
    margin-bottom: 35px;
}


.campo {
    margin-bottom: 15px;
    position: center;
}

.campo label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 30px; /* Aumentando o tamanho da fonte */
    text-align: center; /* Centralizando o texto */
}

.campo input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #3399BB;
    padding: 10px;
    margin-top: -20px;
    margin-bottom: 10px;
    padding-bottom: 1px; 
    box-sizing: border-box;
    font-size: 20px;
    outline: none;
    text-align: center;
}




.formulario form {
    width: 100%; 
    text-align: center; 
}

.formulario form button {
    width: 50%;
    padding: 14px;
    background-color: #CA638D;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 18px;
    margin-top: 35px;
    font-weight: bold;
}



.formulario form button:hover {
    background-color: #AB4767;
}

.recuperar-senha {
    text-align: center;
}

.link-recuperar {
    color: #3399BB;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.link-recuperar:hover {
    text-decoration: underline;
}

/* Rodapé */
footer {
    background-color: #3399BB;
    width: 100%;
    color: white;
    display: flex;
}

.rodape{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.div-rodape{
    float: left;
    width: 25%;
}

.titulo-rodape {
  font-family: "Open Sans", sans-serif;
  font-size: 120%;
  margin: 0px;
}

.texto-rodape {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    line-height: 130%;
    font-size: 80%;
  }

  @media screen and (max-width:500px){
    body{
        margin: 0px;
        min-width: 0px;
    }
    
    footer {
        background-color: #3399BB;
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
    }
    
    .div-rodape{
        width: 100%;
        margin: 3%;
    }

    .rodape{
        padding-left: 2%;
        padding-right: 2%;
    }
}

/* Botão voltar */
.voltar {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px; 
    height: auto;
}

.voltar img {
    width: 60%;
    height: auto;
}
