/* Cabeçalho */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Roboto';
    box-sizing: border-box;
}

.container {
    margin: 0px;
    height: 20vh;
    width: 100%;
    padding: 10px 8%;
    background-color: #fff;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 220px;
    width: 220px;
    position: relative;
    cursor: pointer;
}

.iconedeperfil{
    height: 49px;
    width: 49px;
    cursor: pointer;
    border-radius: 100%;
    opacity: 0.5;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
    padding: 28px 0;
}

nav ul li{
    display: inline-block;
    margin: 15px 25px;
}

nav ul li a{
    color: #d971a1;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.header_list_username a{
    text-decoration: underline;
    color: #3399bb;
    opacity: 0.5;
    font-family:"Roboto", sans-serif;
    font-weight: bolder;
    font-size: 18px;
}

.button{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    width: fit-content;
    background-color: #d971a1;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 50px;
    width: 800px;
    margin-bottom: 20px;
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eaeaea;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.icon img {
    width: 30px;
    height: 30px;
}

.title h1 {
    margin: 0;
    font-size: 24px;
    color: #3399BB;
}

.title h2 {
    margin: 0;
    font-size: 18px;
    color: #3399BB;
}


.card-body {
    display: flex;
}

.pet-info {
    list-style: none;
    padding: 0;
    margin: 0;
    flex: 1;
}

.pet-info li {
    color: #3399BB;
    margin: 20px 0 10px;
    font-size: large;
}

.description-card {
    width: 300px;
    height: 300px;
    background: #f9f9f9;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    padding: 10px;
    margin-left: 20px;
}

.description-card h3 {
    margin: 0;
    font-size: 16px;
    color: #3399BB;
    margin-bottom: 10px;
}

.adopt-button {
    background-color: #ff6699;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 75px;
}
footer {
    background-color: #3399BB;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    position: bottom;
    bottom: 0;
    width: 100%;
    display: flex;
}

.rodape{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.div-rodape{
    float: left;
    width: 25%;
}

.titulo-rodape {
  font-family: "Open Sans", sans-serif;
  font-size: 175%;
  margin: 0px;
}

.texto-rodape {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    line-height: 130%;
    font-size: 110%;
  }

  @media screen and (max-width:500px){
    body{
        margin: 0px;
        min-width: 0px;
    }

    footer {
        background-color: #3399BB;
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
    }

    .div-rodape{
        width: 100%;
        margin: 3%;
    }

    .rodape{
        padding-left: 2%;
        padding-right: 2%;
    }
}