/* Cabeçalho */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Roboto';
    box-sizing: border-box;
}

.container {
    margin: 0px;
    height: 20vh;
    width: 100%;
    padding: 10px 8%;
    background-color: #fff;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 220px;
    width: 220px;
    position: relative;
    cursor: pointer;
}

.iconedeperfil{
    height: 49px;
    width: 49px;
    cursor: pointer;
    border-radius: 100%;
    opacity: 0.5;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
    padding: 28px 0;
}

nav ul li{
    display: inline-block;
    margin: 15px 25px;
}

nav ul li a{
    color: #d971a1;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.header_list_username a{
    text-decoration: underline;
    color: #3399bb;
    opacity: 0.5;
    font-family:"Roboto", sans-serif;
    font-weight: bolder;
    font-size: 18px;
}

.button{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    width: fit-content;
    background-color: #d971a1;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}

/* Main */
.page-title {
    font-size: 50px; /* Tamanho da fonte do título */
    color: #F2A97E; /* Cor do texto */
    text-align: center; /* Centraliza o título */
    margin: -20px;
}
.page-subtitle {
    font-size: 25px; /* Tamanho da fonte do título */
    color: #F2A97E; /* Cor do texto */
    text-align: center; /* Centraliza o título */
    margin: 20px; /* Espaçamento acima e abaixo do título */
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    font-family: "Roboto", sans-serif;
}

.main-container {
    padding-bottom: 20px; /* Ajuste conforme a altura do seu footer */
    display: flex;
    gap: 20px; /* Espaçamento entre o grande card e o contêiner dos três cards */
}

.large-card {
    background-color: white;
    width: 564px;
    height: 722px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
}

.info {
    padding: 20px;
}

.field {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #3399bb;
}

input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}
.cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 361px;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: center;

}

.icon img {
    justify-content: center;
    width: 100px;
    height: 100px;
}

.content h1 {
    color: #3399BB;
    margin: 20px 0 10px;
}

.content p {
    color: #D971A1;
    margin-bottom: 20px;
}

.content h2
{
    color: #3399BB;
    margin: 20px 0 10px;
    font-size: large;
}

button {
    background-color: #D971A1;
    border: none;
    border-radius: 8px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #D971A1;
}


footer {
    background-color: #3399BB;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    position: bottom;
    bottom: 0;
    width: 100%;
    display: flex;
}

.rodape{
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
}

.div-rodape{
    float: left;
    width: 25%;
}

.titulo-rodape {
  font-family: "Open Sans", sans-serif;
  font-size: 175%;
  margin: 0px;
}

.texto-rodape {
    font-family: "Roboto", sans-serif;
    margin: 0px;
    line-height: 130%;
    font-size: 110%;
  }

  @media screen and (max-width:500px){
    body{
        margin: 0px;
        min-width: 0px;
    }

    footer {
        background-color: #3399BB;
        width: 100%;
        height: 100%;
        color: white;
        text-align: center;
    }

    .div-rodape{
        width: 100%;
        margin: 3%;
    }

    .rodape{
        padding-left: 2%;
        padding-right: 2%;
    }
}