/* Global styles */
* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Roboto', sans-serif;
    box-sizing: border-box;
}

body, main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: "Roboto", sans-serif;
}

.container {
    width: 100%;
    padding: 10px 8%;
    background-color: #fff;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 28px 0;
}

.logo, .iconedeperfil {
    cursor: pointer;
    border-radius: 100%;
}

.logo {
    height: 220px;
    width: 220px;
}

.iconedeperfil {
    height: 49px;
    width: 49px;
    opacity: 0.5;
}

nav ul {
    list-style: none;
    text-align: right;
    width: 100%;
    padding-right: 60px;
}

nav ul li {
    display: inline-block;
    margin: 15px 25px;
}

nav ul li a, .header_list_username a {
    text-decoration: none;
    color: #d971a1;
    font-size: 20px;
    font-weight: bolder;
}

.header_list_username a {
    text-decoration: underline;
    color: #3399bb;
    opacity: 0.5;
}

/* Buttons and inputs */
.button, button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #d971a1;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bolder;
    width: fit-content;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Main Section */
.page-title, .page-subtitle {
    color: #F2A97E;
    text-align: center;
}

.page-title {
    font-size: 50px;
}

.page-subtitle {
    font-size: 25px;
    margin: 10px 0;
}

.main-container, .cards-container {
    display: flex;
    gap: 20px;
}

.cards-container {
    flex-direction: column;
}

.large-card, .card {
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-align: center;
}

.large-card {
    width: 564px;
    height: 722px;
}

.card {
    width: 361px;
}

/* Footer */
footer {
    background-color: #3399BB;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    width: 100%;
}

.rodape {
    padding: 0 10%;
    width: 100%;
    display: flex;
}

.div-rodape {
    flex: 1;
    margin: 3%;
}

@media screen and (max-width: 500px) {
    footer, .div-rodape, .rodape {
        padding: 0 2%;
        width: 100%;
        display: block;
        text-align: center;
    }
}
