*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Roboto';
    box-sizing: border-box;
}

body{
    margin: 0px;
    min-width: 100%;
}

header{
    height: 100vh;
    width: 100%;
    padding: 0 10%;
    background: #fff;
    position: relative;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    float: left;
}

.logo{
    width: 18%;
    height: 18%;
}
.iconeperfil{
    width: 4.4%;
    height: 4.4%;
    border-radius: 100%;
    opacity: 0.5;
}
.headernav-links{
    padding: 2.5% 0;
}
.headernav-entrar{
    padding: 2.5% 0;
}
.headernav-cadastrar{
    padding: 2.5% 0;
}
.headernav-perfil{
    padding: 5% 0;
}
.headernav-links li{
    display: inline-block;
    margin: 0 40px;
}
.headernav-entrar li{
    display: inline-block;
    margin: 0 15px;
}
.headernav-cadastrar li{
    display: inline-block;
    margin: 0 15px;
}
.headernav-perfil li{
    display: inline-block;
    margin: 0 15px;

}
.headernav-links li a{
    text-decoration: none;
    color: #d971a1;
    font-family:'Open Sans';
    font-weight: bolder;
    font-size: 120%;
    padding: 0.45% 0;
    position: relative;
}
.headernav-entrar li a{
    text-decoration: none;
    color: #d971a1;
    font-family:'Open Sans';
    font-weight: bolder;
    font-size: 120%;
    padding: 0.45% 0;
    position: relative;
    left: 95%;
}
.headernav-cadastrar li a{
    text-decoration: none;
    color: #fff;
    font-family:'Open Sans';
    font-weight: bolder;
    font-size: 120%;
    padding: 0.45% 0;
    position: relative;
    z-index: 1;
}
.headernav-perfil li a{
    text-decoration: none;
    color: #3399bb;
    opacity: 0.5;
    font-family:'Open Sans';
    font-weight: bolder;
    font-size: 104%;
    padding: 0.45% 0;
    position: relative; 
    left: 50%;
}
.headernav-cadastrar li a::before{
    content: '';
    background: #d971a1;
    height: 110%;
    width: 103%;
    position: absolute;
    z-index: -1;
    border-radius: 8%;
}
