/* Edições do cabeçalho */
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Roboto';
    box-sizing: border-box;
}

.container {
    margin: 0px;
    height: 20vh;
    width: 100%;
    padding: 10px 8%;
    background-color: #fff;
    position: relative;
}

nav {
    width: 100%;
    display: flex;
    padding: 10px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 220px;
    width: 220px;
    position: relative;
    cursor: pointer;
}

.iconedeperfil{
    height: 49px;
    width: 49px;
    cursor: pointer;
    border-radius: 100%;
    opacity: 0.5;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
    padding: 28px 0;
}

nav ul li{
    display: inline-block;
    margin: 15px 25px;
}

nav ul li a{
    color: #d971a1;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    font-weight: bolder;
}

.header_list_username a{
    text-decoration: underline;
    color: #3399bb;
    opacity: 0.5;
    font-family:'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: 18px;
}

.button{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    width: fit-content;
    background-color: #d971a1;
    color: #fff;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}
